<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Hello, my name is {{profile.name}}</h2>

  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>

  <p>{{profile.numReviews}} reviews</p>

  <ion-icon name="archive"></ion-icon>

  <h4>About</h4>
  <p>
    LIVES ...<br>
    PHONE #<br>
    EMAIL
  </p>

  <p>Number of bookings made: #</p>

  <h4>Reviews</h4>
  <p>review...........</p>
</ion-content>
