<ion-header>
  <ion-toolbar>
    <ion-title>Update Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-input type="text" name="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea name="description"></ion-textarea>
      </ion-item>
      <button ion-button routerLink="/tabs/tab1" type="submit" block>Update</button>
    </form>
</ion-content>
